#squekky-activities table {
	font-size: 1.0em;
	border-collapse: collapse;
	border: 0px;
	margin-left: 4px;
	margin-right: -9px;
	float: left;
	text-align: left;}
#squekky-activities th {
	text-align: left;}
#squekky-activities th, td {
	padding: 3px 10px 5px 2px;
	font-weight:normal;}
#squekky-activities .sunday {
	padding-bottom: 1em;}


#squekky-activities {
	width: 550px;
	padding-left: 30px;
	padding-right: 30px;
	margin:0 auto;}



#squekky-activities .activity {
	margin-top: 20px;
	text-align: left;
	padding: 5px;}

#squekky-activities .title-row {
	float: left;
	width: 100%;
	vertical-align: top;
	display: inline;
	font-size: 1.5em;}

#squekky-activities .activity-info {
	margin-bottom: 20px;
	clear: both;
	width: 100%;
	float: left;}


#squekky-activities .icons-column {
	max-width: 45%;
	float: right;
	padding-left: 10px;
	padding-bottom: 10px;}
#squekky-activities .cost, 
#squekky-activities .time, 
#squekky-activities .other-icons {
	margin-top: 15px; 
	float:left;
	width:auto;}
#squekky-activities .time-icon, 
#squekky-activities .cost-icon {
	margin-top: 0px;
	float:left; }
#squekky-activities .other-icons {
	clear: both;
	margin-bottom: 3px;}
#squekky-activities .other-icons > .sprite {
	padding-right: 5px;}
#squekky-activities .date-ranges tr {
	vertical-align:top;}


#squekky-activities .details {
	margin-top: 20px;}
#squekky-activities .details > .arrow-content {
	margin-left: 0px;}
#squekky-activities .details-icons {
	margin-top: 20px;}
#squekky-activities .details-icons > div {
	margin-top: 10px;}
#squekky-activities .details-icon-address {
	margin-bottom: 20px;}
#squekky-activities .details-icon-heading {
	clear: left;
	float: left;
	width: 20%;
	vertical-align: top;}
#squekky-activities .details-icon-heading > .icon {
	float: left;
	width: 25px;}
#squekky-activities .details-icon-info {
	width: auto;
	float:left;}


#squekky-activities .comments {
	clear: left;
	float: left;
	margin-bottom: 15px;
	margin-top: 35px; }
#squekky-activities .comments-icon {
	display: inline-block;
	vertical-align: top; }
#squekky-activities .action-link-button {
	cursor: pointer;}

#squekky-activities .address-icon, 
#squekky-activities .twitter-icon, 
#squekky-activities .internet-icon {
	vertical-align: middle;
	padding-right: 5px;}


#squekky-activities .sprite { background: url('squekky-sprite.png') no-repeat top left;  } 
#squekky-activities .sprite.time-icon { background-position: 0px 0px; width: 20px; height: 20px;  } 
#squekky-activities .sprite.cost-icon { background-position: -30px 0px; width: 20px; height: 20px;  } 
#squekky-activities .sprite.comments-icon { background-position: -60px 0px; width: 21px; height: 15px;  } 
#squekky-activities .sprite.expires-icon { background-position: -91px 0px; width: 20px; height: 20px;  } 
#squekky-activities .sprite.twitter-icon { background-position: -121px 0px; width: 20px; height: 20px;  } 
#squekky-activities .sprite.email-icon { background-position: -151px 0px; width: 18px; height: 13px;  } 
#squekky-activities .sprite.internet-icon { background-position: -179px 0px; width: 22px; height: 21px;  } 
#squekky-activities .sprite.address-icon { background-position: -211px 0px; width: 21px; height: 26px;  } 
#squekky-activities .sprite.phone-icon { background-position: -242px 0px; width: 21px; height: 15px;  } 
#squekky-activities .sprite.eftpos-icon { background-position: -273px 0px; width: 31px; height: 20px;  } 
#squekky-activities .sprite.mastercard-icon { background-position: -314px 0px; width: 33px; height: 20px;  } 
#squekky-activities .sprite.visa-icon { background-position: -357px 0px; width: 62px; height: 20px;  } 
#squekky-activities .sprite.eighteenplus-icon { background-position: -429px 0px; width: 21px; height: 20px;  } 
#squekky-activities .sprite.alcohol-icon { background-position: -460px 0px; width: 20px; height: 20px;  } 
#squekky-activities .sprite.wheelchair-icon { background-position: -490px 0px; width: 20px; height: 20px;  } 

#squekky-activities .sprite.no-icon { width: 26px; height: 21px; background-position: 30px 0px;  } 

#squekky-activities hr {
	border: solid 1px #CCC;}

.clearfix:before,.clearfix:after{content:"";display:table;}.clearfix:after{clear:both;}.clearfix{zoom:1;}
